.boxText {
	FONT-SIZE: 10px; COLOR: #00ccff; FONT-FAMILY: Verdana, Arial, sans-serif
}
.errorBox {
	FONT-SIZE: 10px; BACKGROUND: #ffb3b5; FONT-FAMILY: Verdana, Arial, sans-serif
}
.stockWarning {
	FONT-SIZE: 10px; COLOR: #cc0033; FONT-FAMILY: Verdana, Arial, sans-serif
}
.productsNotifications {
	BACKGROUND: #f2fff7
}
.orderEdit {
	FONT-SIZE: 10px; COLOR: #70d250; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
BODY {
	BACKGROUND: #00ccff; MARGIN: 0px; COLOR: #333366
}
TD.banner_cell {
	FONT-SIZE: 40px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.bot_right_cell {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.main_cell {
	BACKGROUND-COLOR: #00ccff
}
TD.leftnav_cell {
	BORDER-BOTTOM: #777777 1px dotted; HEIGHT: 20px
}
TD.content_cell {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TD.index_cell_left {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TD.headline_title {
	FONT-SIZE: 30px; COLOR: #777777; BORDER-BOTTOM: #777777 1px dotted
}
SELECT.dropdown {
	WIDTH: 200px
}
FONT.page_title {
	FONT-SIZE: 20px; COLOR: #777777
}
TABLE.news_rule {
	BORDER-TOP: #777777 1px dotted; BORDER-BOTTOM: #777777 1px dotted
}
FONT.page_title {
	FONT-SIZE: 20px; COLOR: #777777
}
TD.top_cell {
	BACKGROUND-COLOR: #00ccff
}
TABLE.content_table {
	BORDER-RIGHT: #777777 1px dotted; BORDER-LEFT: #777777 1px dotted
}
TD.navigation_cell {
	BORDER-TOP: #dddddd 2px ridge; BORDER-BOTTOM: #dddddd 2px ridge; BACKGROUND-COLOR: #333366
}
TD.bot_cell {
	BORDER-TOP: #dddddd 2px ridge; FONT-SIZE: 8px; BORDER-BOTTOM: #dddddd 2px ridge; HEIGHT: 25px; BACKGROUND-COLOR: #333366
}
A.tcf_nav_link {
	COLOR: #00ccff
}
A.tcf_nav_link:hover {
	COLOR: #00ccff
}
A {
	COLOR: #333366; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.REN {
	COLOR: #00ccff; TEXT-DECORATION: none
}
A.REN:hover {
	COLOR: #aabbdd; TEXT-DECORATION: underline
}
FORM {
	DISPLAY: inline
}
TR.header {
	BACKGROUND: #ffffff
}
TR.headerNavigation {
	BACKGROUND: #333366
}
TD.headerNavigation {
	FONT-SIZE: 10px; BACKGROUND: #333366; COLOR: #00ccff; FONT-FAMILY: Verdana, Arial, sans-serif
}
A.productLink {
	COLOR: #333366
}
A.tcf_categorylink {
	COLOR: #333366
}
A.hover {
	COLOR: #333366
}
A.productLink:hover {
	COLOR: red
}
A.headerNavigation {
	COLOR: #00ccff
}
A.headerNavigation:hover {
	COLOR: red
}
A.footerNavigation {
	COLOR: #00ccff
}
A.footerNavigation:hover {
	COLOR: red
}
TR.headerError {
	BACKGROUND: #333366
}
TD.headerError {
	FONT-SIZE: 12px; BACKGROUND: #333366; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; TEXT-ALIGN: center
}
TR.headerInfo {
	BACKGROUND: #333366
}
TD.headerInfo {
	FONT-SIZE: 12px; BACKGROUND: #333366; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; TEXT-ALIGN: center
}
TR.footer {
	BACKGROUND: #f79910
}
TD.footer {
	FONT-SIZE: 10px; BACKGROUND: #f79910; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif
}
.infoBox {
	BORDER-RIGHT: #777777 1px solid; BORDER-TOP: #777777 1px solid; BACKGROUND: #333366; BORDER-LEFT: #777777 1px solid; BORDER-BOTTOM: #777777 1px solid
}
TABLE.infoBox {
	BORDER-RIGHT: #777777 1px solid; BORDER-TOP: #777777 1px solid; BACKGROUND: #333366; BORDER-LEFT: #777777 1px solid; BORDER-BOTTOM: #777777 1px solid
}
TR.infoBoxContents {
	BORDER-RIGHT: #777777 1px; BORDER-TOP: #777777 1px; FONT-SIZE: 10px; BACKGROUND: #00ccff; BORDER-LEFT: #777777 1px; COLOR: #333366; BORDER-BOTTOM: #777777 1px; FONT-FAMILY: Verdana, Arial, sans-serif
}
.infoBoxContents {
	FONT-SIZE: 10px; BACKGROUND: #00ccff; COLOR: #333366; FONT-FAMILY: Verdana, Arial, sans-serif
}
TR.nav_infoBoxContents {
	BORDER-RIGHT: #777777 1px; BORDER-TOP: #777777 1px; FONT-SIZE: 10px; BACKGROUND: #333366; BORDER-LEFT: #777777 1px; BORDER-BOTTOM: #777777 1px; FONT-FAMILY: Verdana, Arial, sans-serif
}
.nav_infoBoxContents {
	FONT-SIZE: 10px; BACKGROUND: #333366; FONT-FAMILY: Verdana, Arial, sans-serif
}
.infoBoxNotice {
	BACKGROUND: #ff8e90
}
.infoBoxNoticeContents {
	FONT-SIZE: 10px; BACKGROUND: #ffe6e6; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.infoBoxHeading {
	BORDER-RIGHT: #777777 1px solid; BORDER-TOP: #777777 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10px; BACKGROUND: #333366; PADDING-BOTTOM: 5px; BORDER-LEFT: #777777 1px solid; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.infoBox {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, sans-serif
}
SPAN.infoBox {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TR.accountHistory-odd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.addressBook-odd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.alsoPurchased-odd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.payment-odd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.productListing-odd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.productReviews-odd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.upcomingProducts-odd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.shippingOptions-odd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.accountHistory-even {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.addressBook-even {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.alsoPurchased-even {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.payment-even {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.productListing-even {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.productReviews-even {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.upcomingProducts-even {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR.shippingOptions-even {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.productListing {
	BORDER-RIGHT: #777777 1px groove; BORDER-TOP: #777777 1px groove; BORDER-LEFT: #777777 1px groove; BORDER-BOTTOM: #777777 1px groove
}
.productListing-heading {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; BACKGROUND: #333366; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.productListing-data {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #333366; PADDING-TOP: 5px; BORDER-BOTTOM: #777777 1px dotted; FONT-FAMILY: Verdana, Arial, sans-serif
}
A.pageResults {
	COLOR: #0000ff
}
A.pageResults:hover {
	BACKGROUND: #ffff33; COLOR: #0000ff
}
TD.pageHeading {
	FONT-SIZE: 30px; BACKGROUND: #00ccff; COLOR: #777777; BORDER-BOTTOM: #777777 1px dotted; FONT-FAMILY: Verdana, Arial, sans-serif
}
DIV.pageHeading {
	FONT-SIZE: 30px; BACKGROUND: #00ccff; COLOR: #777777; BORDER-BOTTOM: #777777 1px dotted; FONT-FAMILY: Verdana, Arial, sans-serif
}
TR.subBar {
	BACKGROUND: #f4f7fd
}
TD.subBar {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif
}
P.main {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.5; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.main {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.smallText {
	FONT-SIZE: 10px; COLOR: #00ccff; FONT-FAMILY: Verdana, Arial, sans-serif
}
SPAN.smallText {
	FONT-SIZE: 10px; COLOR: #00ccff; FONT-FAMILY: Verdana, Arial, sans-serif
}
P.smallText {
	FONT-SIZE: 10px; COLOR: #00ccff; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.accountCategory {
	FONT-SIZE: 13px; COLOR: #aabbdd; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.fieldKey {
	FONT-SIZE: 12px; COLOR: #333366; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.fieldValue {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.tableHeading {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, sans-serif
}
SPAN.newItemInCart {
	FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, sans-serif
}
CHECKBOX {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, sans-serif
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, sans-serif
}
RADIO {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, sans-serif
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TEXTAREA {
	FONT-SIZE: 11px; WIDTH: 100%; FONT-FAMILY: Verdana, Arial, sans-serif
}
SPAN.greetUser {
	FONT-SIZE: 12px; COLOR: #f0a480; FONT-FAMILY: Verdana, Arial, sans-serif
}
TABLE.formArea {
	BORDER-RIGHT: #777777 1px groove; BORDER-TOP: #777777 1px groove; BACKGROUND: #ffe6e6; BORDER-LEFT: #777777 1px groove; BORDER-BOTTOM: #777777 1px groove
}
TD.formAreaTitle {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif
}
SPAN.markProductOutOfStock {
	FONT-SIZE: 12px; COLOR: #c76170; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif
}
SPAN.productSpecialPrice {
	COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, sans-serif
}
SPAN.errorText {
	COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, sans-serif
}
.moduleRow {
	
}
.moduleRowOver {
	CURSOR: hand; BACKGROUND-COLOR: #d7e9f7
}
.moduleRowSelected {
	BACKGROUND-COLOR: #e9f4fc
}
.checkoutBarFrom {
	FONT-SIZE: 10px; COLOR: #8c8c8c; FONT-FAMILY: Verdana, Arial, sans-serif
}
.checkoutBarTo {
	FONT-SIZE: 10px; COLOR: #8c8c8c; FONT-FAMILY: Verdana, Arial, sans-serif
}
.checkoutBarCurrent {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif
}
.messageBox {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, sans-serif
}
.messageStackError {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffb3b5
}
.messageStackWarning {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffb3b5
}
.messageStackSuccess {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #99ff00
}
.inputRequirement {
	FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, sans-serif
}
A.tcf_button_nonbordered {
	FONT-SIZE: 10px; COLOR: #333366; BORDER-BOTTOM: #777777 1px dotted; FONT-FAMILY: Verdana, Arial, sans-serif; HEIGHT: 10px
}
TD.tcf_button {
	COLOR: #333366; BORDER-BOTTOM: #777777 1px dotted; FONT-FAMILY: Verdana, Arial, sans-serif; HEIGHT: 10px
}
A.tcf_submit_link {
	COLOR: #333366; BORDER-BOTTOM: #777777 1px dotted; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.eai_item {
	FONT-SIZE: 10px; BORDER-BOTTOM: #777777 1px dotted; FONT-FAMILY: Verdana, Arial, sans-serif; HEIGHT: 10px; BACKGROUND-COLOR: #333366
}
TD.tcf_categorycell {
	FONT-SIZE: 10px; COLOR: #00ccff; BORDER-BOTTOM: #777777 1px dotted; FONT-FAMILY: Verdana, Arial, sans-serif; HEIGHT: 10px; BACKGROUND-COLOR: #333366
}
B.Ztcf_bright_text {
	COLOR: #00ccff
}
TD.Ztcf_bright_text {
	COLOR: #00ccff
}
SMALL.Ztcf_bright_text {
	FONT-SIZE: 6px; COLOR: #00ccff
}
B.tcf_bright_text {
	COLOR: #333366
}
TD.tcf_bright_text {
	COLOR: #333366
}
SMALL.tcf_bright_text {
	FONT-SIZE: 6px; COLOR: #333366
}
.tcf_infoBox {
	BORDER-RIGHT: #777777 1px solid; BORDER-TOP: #777777 1px solid; BACKGROUND: #00ccff; BORDER-LEFT: #777777 1px solid; BORDER-BOTTOM: #777777 1px solid
}
TABLE.tcf_infoBox {
	BORDER-RIGHT: #777777 1px solid; BORDER-TOP: #777777 1px solid; BACKGROUND: #00ccff; BORDER-LEFT: #777777 1px solid; BORDER-BOTTOM: #777777 1px solid
}
TR.tcf_infoBoxContents {
	BORDER-RIGHT: #777777 1px; BORDER-TOP: #777777 1px; FONT-SIZE: 10px; BACKGROUND: #00ccff; BORDER-LEFT: #777777 1px; BORDER-BOTTOM: #777777 1px; FONT-FAMILY: Verdana, Arial, sans-serif
}
.tcf_infoBoxContents {
	FONT-SIZE: 10px; BACKGROUND: #00ccff; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.tcf_infoBoxHeading {
	BORDER-RIGHT: #777777 1px solid; BORDER-TOP: #777777 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10px; BACKGROUND: #00ccff; PADDING-BOTTOM: 5px; BORDER-LEFT: #777777 1px solid; COLOR: #333366; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.tcf_infoBox {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, sans-serif
}
SPAN.tcf_infoBox {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.tcf_loginscreen {
	FONT-SIZE: 10px; BACKGROUND: #333366; COLOR: #00ccff; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD.tcf_productNameText {
	COLOR: #333366
}
