<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- saved from url=(0101)http://www.arteutile.net/antico/index.php?cPath=0&language=en&osCsid=8c11ba17308d4573fda56e6fc9f35ca4 -->
<HTML lang=en dir=ltr><HEAD><TITLE>~Jual Barang Antik~</TITLE>
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1"><LINK 
href="Buy or sell Antiques Tuscany London Yorkshire_files/stylesheet.css" 
type=text/css rel=stylesheet>
<%= stylesheet_link_tag 'stylesheet.css' %>
<META content="MSHTML 6.00.2900.2180" name=GENERATOR></HEAD>
<BODY bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 marginheight="0" 
marginwidth="0"><!-- header //-->
<TABLE class=main_table cellSpacing=0 cellPadding=0 width="100%" border=0>
  <TBODY>
  <TR height=50>
    <TD class=top_cell align=middle bgColor=white height=50>
      <TABLE height=50 cellSpacing=0 cellPadding=0 width=775 border=0>
        <TBODY>
        <TR>
          <TD class=banner_cell vAlign=bottom align=left 
            colSpan=2>JUAL.My </TD></TR></TBODY></TABLE></TD></TR>
  <TR height=25>
    <TD class=navigation_cell vAlign=center align=middle height=25>
      <TABLE cellSpacing=0 cellPadding=1 width=775 border=0>
        <TBODY>
        <TR class=headerNavigation>
          <TD class=headerNavigation>&nbsp;&nbsp;<A class=headerNavigation 
            href="/ads/">Barang-Barang yang dijual [semua senarai barang]</A><A 
            class=headerNavigation 
            href=""><a href="/ads/">All Item</a></A>
</TD>
          <TD class=headerNavigation align=right>&nbsp; <A 
            class=headerNavigation 
            href="">Basket 
            Contents</A> &nbsp;| &nbsp; <A class=headerNavigation 
            href="">Express 
            An Interest</A> <!--&nbsp;&nbsp;| <a href="" class="headerNavigation">Buy Now</a> &nbsp;&nbsp;--></TD></TR></TBODY></TABLE></TD></TR>
  <TR height="100%">
    <TD class=main_cell vAlign=top align=middle height="100%">
      <DIV align=center>
      <TABLE class=content_table cellSpacing=0 cellPadding=0 width=775 
        border=0><TBODY>
        <TR>
          <TD class=cell_left vAlign=top align=middle colSpan=2><!-- header_eof //--><!-- body //-->
            <TABLE cellSpacing=3 cellPadding=3 width="100%" border=0>
              <TBODY>
              <TR>
                <TD vAlign=top width=125>
                  <TABLE cellSpacing=0 cellPadding=2 width=125 border=0><!-- left_navigation //--><!-- categories //-->
                    <TBODY>
                    <TR>
                      <TD>
                        <TABLE cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                          <TBODY>
                          <TR>
                            <TD class=infoBoxHeading width="100%" 
                              height=14>Kategori<br />
                                                                                    </TD></TR></TBODY></TABLE>
                        <TABLE class=nav_infoBox cellSpacing=0 cellPadding=1 
                        width="100%" border=0>
                          <TBODY>
                          <TR>
                            <TD>
                              <TABLE class=nav_infoBoxContents cellSpacing=0 
                              cellPadding=3 width="100%" border=0>
                                <TBODY>
                                <TR>
                                <TD><IMG alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" border=0 style="height: 1px"></TD></TR>
                                <TR>
                                <TD class=boxText>
                                <TABLE>
                                <TBODY>
                                <TR>
                                <TD class=tcf_categorycell>&nbsp;&nbsp;<A 
                                class=tcf_nav_link 
                                href="">Barang Jualan
                                </A></TD></TR>
                                <TR>
                                <TD class=tcf_categorycell>&nbsp;&nbsp;<A 
                                class=tcf_nav_link 
                                href="">LUKISAN</A></TD></TR>
                                <TR>
                                <TD class=tcf_categorycell>&nbsp;&nbsp;<A 
                                class=tcf_nav_link 
                                href="">GAMBAR</A></TD></TR>
                                <TR>
                                <TD class=tcf_categorycell>&nbsp;&nbsp;<A 
                                class=tcf_nav_link 
                                href="">PERABOT</A></TD></TR>
                                <TR>
                                <TD class=tcf_categorycell>&nbsp;&nbsp;<A 
                                class=tcf_nav_link 
                                href="">PASU</A></TD></TR>
                                <TR>
                                <TD class=tcf_categorycell>&nbsp;&nbsp;<A 
                                class=tcf_nav_link 
                                href="">HIASAN</A></TD></TR>
                                <TR>
                                <TD class=tcf_categorycell>&nbsp;&nbsp;<A 
                                class=tcf_nav_link 
                                href="">CERMIN</A></TD></TR>
                                <TR>
                                <TD class=tcf_categorycell>&nbsp;&nbsp;<A 
                                class=tcf_nav_link 
                                href="">JAM</A></TD></TR>
                                <TR>
                                <TD class=tcf_categorycell>&nbsp;&nbsp;<A 
                                class=tcf_nav_link 
                                href="">LAMPU</A></TD></TR>
                                <TR>
                                <TD class=tcf_categorycell>&nbsp;&nbsp;<A 
                                class=tcf_nav_link 
                                href="">MEJA</A></TD></TR></TBODY></TABLE></TD></TR>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" 
                          border=0></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR><!-- categories_eof //--><!-- specials //-->
                    <TR>
                      <TD>
                        <TABLE cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                          <TBODY>
                          <TR>
                            <TD class=infoBoxHeading width="100%" 
                              height=14>Barang Baru</TD></TR></TBODY></TABLE>
                        <TABLE class=nav_infoBox cellSpacing=0 cellPadding=1 
                        width="100%" border=0>
                          <TBODY>
                          <TR>
                            <TD>
                              <TABLE class=nav_infoBoxContents cellSpacing=0 
                              cellPadding=3 width="100%" border=0>
                                <TBODY>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="/images/662.jpg" 
                                width="100%" border=0></TD></TR>
                                <TR>
                                <TD class=boxText align=middle><A 
                                href=""><IMG 
                                title=" Almari baju " height=135 
                                alt="Property of a Lady" 
                                src="/images/662.jpg" 
                                width=135 border=0></A><BR><A class=tcf_nav_link 
                                href="">Almari baju</A><BR>RM 500</TD></TR>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" 
                          border=0></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR><!-- specials_eof //--><!-- specials //-->
                    <TR>
                      <TD>
                        <TABLE cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                          <TBODY>
                          <TR>
                            <TD class=infoBoxHeading width="100%" 
                              height=14>Esklusif</TD></TR></TBODY></TABLE>
                        <TABLE class=nav_infoBox cellSpacing=0 cellPadding=1 
                        width="100%" border=0>
                          <TBODY>
                          <TR>
                            <TD>
                              <TABLE class=nav_infoBoxContents cellSpacing=0 
                              cellPadding=3 width="100%" border=0>
                                <TBODY>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="images/pixel_trans.gif" 
                                width="100%" border=0></TD></TR>
                                <TR>
                                <TD class=boxText align=middle><A 
                                href=""><IMG 
                                title=" Mangkuk buah " height=135 alt="Fruit dish" 
                                src="C:\Ruby\jual\public\images\smallvarie57.jpg" 
                                width=135 border=0></A><BR><A class=tcf_nav_link 
                                href="">Mangkuk buah</A><BR><S>RM 50</S><BR><SPAN 
                                class=productSpecialPrice>RM 30</SPAN></TD></TR>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="Buy or sell Antiques Tuscany London Yorkshire_files/pixel_trans.gif" 
                                width="100%" 
                          border=0></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR><!-- specials_eof //--><!-- left_navigation_eof //--></TBODY></TABLE></TD><!-- body_text //-->
                <TD vAlign=top width="100%">
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                    <TR>
                      <TD>
                        <TABLE cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                          <TBODY>
                          <TR>
                            <TD class=pageHeading>Jual Barangan Antik</TD>
                            <TD width=1></TD></TR>
                          <TR>
                            <TD class=""><B>Laman web ini menjual barang-barang antik koleksi peribadi..
                                <br />
                                <br />
                                <div id="wrapper">
		<div id="header">
			<div><ul id="nav">
					<span style="text-align: right">
  <% form_tag "/ads/find" do %>
    <%= text_field_tag :search_string %>
    <%= submit_tag "Search" %>
  <% end %>
</span>
			</div>
		</div>
		

                              </B></TD>
                            <TD width=1></TD></TR></TBODY></TABLE></TD></TR>
                    <TR>
                      <TD><IMG height=10 alt="" 
                        src="/images/pixel_trans.gif" 
                        width="100%" border=0></TD></TR>
                    <TR>
                      <TD>
                        <TABLE cellSpacing=0 cellPadding=2 width="100%" 
border=0>
                          <TBODY>
                          <TR>
                            <TD>
                                <div id="content">
		  <%= yield %>
		</div>&nbsp;</TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD><!-- body_text_eof //-->
                <TD vAlign=top width=125>
                  <TABLE cellSpacing=0 cellPadding=2 width=125 border=0><!-- right_navigation //--><!-- languages //-->
                    <TBODY>
                    <TR>
                      <TD>
                        <TABLE cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                          <TBODY>
                          <TR>
                            <TD class=infoBoxHeading width="100%" 
                              height=14>Bahasa</TD></TR></TBODY></TABLE>
                        <TABLE class=nav_infoBox cellSpacing=0 cellPadding=1 
                        width="100%" border=0>
                          <TBODY>
                          <TR>
                            <TD>
                              <TABLE class=nav_infoBoxContents cellSpacing=0 
                              cellPadding=3 width="100%" border=0>
                                <TBODY>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="Buy or sell Antiques Tuscany London Yorkshire_files/pixel_trans.gif" 
                                width="100%" border=0></TD></TR>
                                <TR>
                                <TD class=boxText align=middle><A 
                                href=""><IMG 
                                title=" English " height=15 alt=English 
                                src="/images/icon.gif" 
                                width=24 border=0></A> <A 
                                href=""><IMG 
                                title=" Italiano " height=15 alt=Italiano 
                                src="C:\Ruby\jual\public\images\icon(1).gif" 
                                width=24 border=0></A> </TD></TR>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" 
                          border=0></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR><!-- languages_eof //--><!-- currencies //-->
                    <TR>
                      <TD>
                        <TABLE cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                          <TBODY>
                          <TR>
                            <TD class=infoBoxHeading width="100%" 
                              height=14>Mata Wang</TD></TR></TBODY></TABLE>
                        <TABLE class=nav_infoBox cellSpacing=0 cellPadding=1 
                        width="100%" border=0>
                          <TBODY>
                          <TR>
                            <TD>
                              <TABLE class=nav_infoBoxContents cellSpacing=0 
                              cellPadding=3 width="100%" border=0>
                                <TBODY>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" border=0></TD></TR>
                                <TR>
                                <TD class=boxText align=middle>
                                <FORM name=currencies 
                                action=http://www.arteutile.net/antico/index.php 
                                method=get><SELECT style="WIDTH: 100%" 
                                onchange=this.form.submit(); 
                                name=currency><OPTION value=USD>US 
                                Dollar</OPTION><OPTION value=EUR 
                                selected>Euro</OPTION><OPTION 
                                value=GBP>Pound</OPTION></SELECT><INPUT 
                                type=hidden value=0 name=cPath><INPUT 
                                type=hidden value=en 
                                name=language></FORM></TD></TR>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" 
                          border=0></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR><!-- currencies_eof //--><!-- search //-->
                    <TR>
                      <TD>
                        <TABLE cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                          <TBODY>
                          <TR>
                            <TD class=infoBoxHeading width="100%" 
                              height=14>Cari Barang</TD></TR></TBODY></TABLE>
                        <TABLE class=nav_infoBox cellSpacing=0 cellPadding=1 
                        width="100%" border=0>
                          <TBODY>
                          <TR>
                            <TD>
                              <TABLE class=nav_infoBoxContents cellSpacing=0 
                              cellPadding=3 width="100%" border=0>
                                <TBODY>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" border=0></TD></TR>
                                <TR>
                                <TD class=boxText align=middle>
                                <FORM name=quick_find 
                                action=http://www.arteutile.net/antico/advanced_search_result.php 
                                method=get><INPUT style="WIDTH: 95px" 
                                maxLength=30 size=10 name=keywords>&nbsp;<INPUT 
                                title=" Cari Barang " type=image alt="Quick Find" 
                                src="C:\Ruby\jual\public\images\button_quick_find.gif" 
                                border=0><BR><BR><A class=tcf_nav_link 
                                href=""><B>Carian</B></A></FORM></TD></TR>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" 
                          border=0></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR><!-- search_eof //--><!-- information //-->
                    <TR>
                      <TD>
                        <TABLE cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                          <TBODY>
                          <TR>
                            <TD class=infoBoxHeading width="100%" 
                              height=14>Informasi</TD></TR></TBODY></TABLE>
                        <TABLE class=nav_infoBox cellSpacing=0 cellPadding=1 
                        width="100%" border=0>
                          <TBODY>
                          <TR>
                            <TD>
                              <TABLE class=nav_infoBoxContents cellSpacing=0 
                              cellPadding=3 width="100%" border=0>
                                <TBODY>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" border=0></TD></TR>
                                <TR>
                                <TD class=boxText><A class=tcf_nav_link 
                                href="">Penghantaran dan Pemulangan</A><BR><A class=tcf_nav_link 
                                href="">Terma dan Syarat</A><BR><A class=tcf_nav_link 
                                href="">Hubungi Kami</A></TD></TR>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" 
                          border=0></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR><!-- information_eof //-->
                    <TR>
                      <TD>
                        <TABLE cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                          <TBODY>
                          <TR>
                            <TD class=infoBoxHeading width="100%" 
                              height=14>Penjual Baru</TD></TR></TBODY></TABLE>
                        <TABLE class=nav_infoBox cellSpacing=0 cellPadding=1 
                        width="100%" border=0>
                          <TBODY>
                          <TR>
                            <TD>
                              <TABLE class=nav_infoBoxContents cellSpacing=0 
                              cellPadding=3 width="100%" border=0>
                                <TBODY>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" border=0></TD></TR>
                                <TR>
                                <TD class=boxText align=middle><A 
                                href="http://localhost:3000/ads/new"><FONT 
                                color=white>Jual Barang Baru
                                </FONT></A><BR><BR><BR><A 
                                href=""><FONT 
                                color=white>Daftar ahli
                      </A></FONT></TD></TR>
                                <TR>
                                <TD><IMG height=1 alt="" 
                                src="C:\Ruby\jual\public\images\pixel_trans.gif" 
                                width="100%" 
                          border=0></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR><!-- right_navigation_eof //--></TBODY></TABLE></TD></TR></TBODY></TABLE><!-- body_eof //--><!-- footer //--></TD></TR></TBODY></TABLE></DIV></TD></TR>
  <TR height=30>
    <TD class=bot_cell vAlign=center align=middle height=30>
      <TABLE cellSpacing=0 cellPadding=0 width=775 border=0>
        <TBODY>
        <TR>
          <TD class=bot_left_cell vAlign=center align=left><A 
            class=footerNavigation href="">TS6234 RoR Project by Mohd & Siti Zahidah
            </A></TD>
          <TD class=bot_right_cell vAlign=center align=right><A 
            class=footerNavigation 
            title="clickfoundation.com : ecommerce crouch end london uk" 
            href=""></A></TD></TR>
        <TR>
          <TD class=bot_left_cell vAlign=center align=left></TD>
          <TD class=bot_right_cell vAlign=center 
      align=right></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE><!-- footer_eof //--><BR></BODY></HTML>
